// Styling for the navbar
#mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  @include heading-font;
  .navbar-brand {
    color: $white;
    font-size: 15px;
  }
  .navbar-nav {
    margin-top: 1rem;
    letter-spacing: 0.0625rem;
    li.nav-item {
      a.nav-link {
        color: $white;
        &:hover {
          color: darken($white, 10%);
        }
        &:active,
        &:focus {
          color: $secondary;
          background-color: transparent;
        }
        &.active {
          color: $secondary;
          background-color: transparent;
        }
      }
    }
  }
  // .navbar-toggler {
  //   font-size: 80%;
  //   padding: 0.8rem;
  // }
}
@media(min-width:992px) {
  #mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    .navbar-brand {
      font-size: 1.5em;
      -webkit-transition: font-size 0.3s;
      -moz-transition: font-size 0.3s;
      transition: font-size 0.3s;
    }
    .navbar-nav {
      margin-top: 0;
    }
    .navbar-nav > li.nav-item > a.nav-link.active {
      color: $secondary;
      background-color: transparent;
      &:active,
      &:focus,
      &:hover {
        color: $secondary;
        background-color: transparent;
      }
    }
  }
  #mainNav.navbar-shrink {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    .navbar-brand {
      font-size: 1.5em;
    }
  }
}
.bg-navbar{
  background: radial-gradient(circle, lighten($thirdary,10%) 0%, $thirdary 100%);
  opacity: 0.9;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
// @media (min-width: 576px) {
  
// }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {
  
// }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
  
// }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
  
// }