<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content='Уборка домов, квартир, офисов или после ремонта в Атырау'>
  <meta name="keywords" content="клининг,уборка,квартир,домов,офисов,ремонта,после,Атырау">
  <meta name="author" content="">
  <meta name="google-site-verification" content="N973lsxBSqpq2NMYliXCc1w5FJR4Uo2ckU5B0QgZ84w" />

  <title>AVGM</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Roboto|Rubik&display=swap&subset=cyrillic" rel="stylesheet">

  <!-- Custom styles for this template -->
  <style type="text/css">
  [v-cloak] > * { display:none }
  [v-cloak]::before { content: "Жүктелуде…" }
    html {
      scroll-behavior: smooth;
    }
    body {
      font-family: 'Roboto', sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: 'Rubik', sans-serif;
    }
    body, #app{
      height: 100vh;
    }
    .hero{
      position: relative;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      overflow: hidden;
    }
    .filter-light{
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.33)), to(rgba(255, 255, 255, 0.33)));
      background-image: linear-gradient(rgba(255, 255, 255, 0.33), rgba(255, 255, 255, 0.33));
    }
    .rounded{
      border-radius:0.25rem;
    }
    
    .offer-container{
      /*padding-top:8vw;*/
      padding-bottom: 1rem;
    }
    .divan-container{
      overflow:hidden;
    }
    .hero-bg-image{
      position:absolute;
      bottom:0px;
    }
    
    .text-sm{
      font-size:0.75rem;
    }
    .text-primary {
        color: #5b6446 !important;
    }
    /* Small devices (landscape phones, 576px and up) */
    h1{
      font-size:2.25rem;
    }
    h2{
      font-size:2rem;
    }
    h6{
      font-size:1rem;
    }
    .phone{
      font-size:1.5rem;
    }
    .modal-header{
      border-bottom: 0px;
    }
    /*.how-we-clean li {
        position: relative;
        padding-left: 30px;
        margin-bottom: 15px;
    }*/
    /*.how-we-clean li:before {
        content: '';
        position: absolute;
        top: 2px;
        left: 0;
        width: 23px;
        height: 20px;
        background: transparent url(img/calculator/check.svg) no-repeat 0 0;
    }*/
    .icon{
      width:33px;
      height:33px;
    }
    .m-t-minus40{
      margin-top:0px;
    }
    .borderless{
      border:0px;
    }
    .shine {
      position: relative;
      overflow: hidden;
    }
    .shine:after {
      content:'';
      top:0;
      transform-origin: left;
      transform: translate(50%, 50%) rotate(45deg);
      width:100%;
      height:100px;
      position: absolute;
      z-index:1;
      animation: slide 2s infinite;
      background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.1) 33%, rgba(255,255,255,0.3) 50%,rgba(128,186,232,0) 66%,rgba(125,185,232,0) 100%);
    }
    @keyframes slide {
      0% {transform:translateX(-200%);}
      100% {transform:translateX(200%);}
    }

    footer .footer-visa-mc {
        width: 143px;
    }

    .collapse-enter-active, .collapse-leave-active {
      transition: opacity .35s;
    }
    .collapse-enter, .collapse-leave-to {
      opacity:0;
    }

    .remover{
      cursor:pointer;
      position:absolute;
      right:2px;
      top:5px;
    }

    /* Medium devices (tablets, 768px and up)*/
    @media (min-width: 768px) {
      h1{
        font-size:2.5rem;
      }
      h2{
        font-size:2.25rem;
      }
      h6{
        font-size:1.05rem;
      }
      .m-t-minus40{
        margin-top:-40px;
      }
    }
    /* Large devices (desktops, 992px and up)*/
    @media (min-width: 992px) {
      h1{
        font-size:3rem;
      }
      h2{
        font-size:2.5rem;
      }
      h6{
        font-size:1.1rem;
      }
      .m-t-minus40{
        margin-top:-40px;
      }
    }

    /* Extra large devices (large desktops, 1200px and up)*/
    @media (min-width: 1200px) {
      h1{
        font-size:3.5rem;
      }
      h2{
        font-size:3rem;
      }
      h6{
        font-size:1.2rem;
      }
      .m-t-minus40{
        margin-top:-40px;
      }
    }

    /*large height screen*/
    @media (min-height: 500px) {
      .hero{
        height: 100vh;
      }
      .modal-dialog{
        height:90%;
      }
    }
    
  </style>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
</head>

<body id="page-top">
  <div id="app" v-cloak>
    <header class="hero text-left py-0" :style="'background-image: url(img/calculator/'+selectedPage+'.webp)'">
      <div class="w-100 h-100 filter-light">
        <nav class="navbar navbar-expand-lg text-uppercase navbar-light bg-transparent">
          <div class="container">
            <a class="navbar-brand font-italic font-weight-bold text-capitalize text-dark" href="https://avgmltd.com">AVGM LTD</a>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item mx-0 mx-lg-1 py-0">
                <a class="nav-link p-0 px-lg-3 rounded" :href="'tel:'+phones[0]">
                  <i class="fa fa-phone fa-2x d-inline-block d-sm-none"></i>
                  <span class="phone d-none d-sm-block">
                    {{formatPhoneNumber(phones[0])}}
                  </span>
                  <small class="text-sm d-none d-sm-block">Ежедневно с 8 до 20</small>
                </a>
              </li>
              <li class></li>
            </ul>
            <button class="btn btn-link ml-3" type="button" data-toggle="modal" data-target="#sidebarModal">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
        </nav>
        <div class="container">
          <div class="row mb-3 pb-3">
            <div class="col-xl-10 col-lg-10 col-md-12 mb-3 pb-3">
              <div class="offer-container mb-3 pb-3">
                <h1>
                  {{printOffer(selectedPage)}}
                </h1>
                <h6 class="w-50">Профессиональная генеральная уборка по стоимости частной домработницы</h6>
                <br>
                <a class="btn btn-success shine" href="#calculator">
                  Рассчитать стоимость уборки
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section>
      <div class="container py-3">
        <h2 class="text-center my-3">Как мы делаем уборку</h2>
        <div class="d-flex justify-content-center" v-if="getTodos().length>1">
          <div class="btn-group my-3" role="group" aria-label="">
            <button type="button" class="btn btn-outline-success" data-target="#carousel1" :data-slide-to="index"
              :class="{active: selectedHow==index}" @click="selectedHow=index"
                v-for="(todo,index) in getTodos()">{{todo.title}}</button>
            </div>
          </div>
        <div id="carousel1" class="carousel slide" data-ride="carousel" data-interval="false">
          <div class="carousel-inner how-we-clean">
            <div class="carousel-item" v-for="(todo,index) in getTodos()" :class="{'active':index==0}">
              <img class="w-100 d-none d-md-block rounded" :src="'img/calculator/'+todo.image">
              <ul class="d-md-none fa-ul" style="height:339px">
                <li v-for="(te,index) in todo.text"><span class="fa-li"><i class="fas fa-check text-success"></i></span>
                  {{te}}
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row d-flex align-items-end justify-content-center m-t-minus40">
          <div class="col-md-4">
            <div class="card bg-transparent borderless ">
              <img src="img/calculator/tools.webp" class="w-75 bg-transparent card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Используем экологичные моющие средства и профессиональную клининговую технику</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card bg-transparent borderless ">
              <img src="img/calculator/manager.webp" class="w-100 bg-transparent card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Клинеры работают под руководством опытного менеджера, который сдаёт вам работу</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card bg-transparent borderless ">
              <img src="img/calculator/insurance.webp" class="w-75 bg-transparent card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Прежде чем приступить к работе, страхуем ваше имущество на сумму пять миллион тенге на время работ</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="calculator" class="alert-success py-3 text-dark" v-cloak>
      <div class="container">
        <h2 class="text-center my-3">Расчет стоимости уборки</h2>
        <div class="row mb-3 pb-3">
          <div class="col-12 col-md-12 col-lg-8">
              <div class="btn-group my-3" role="group" aria-label="">
                <button type="button" class="btn btn-outline-success"
                  :class="{active: selectedType==0}" @click="selectedType=0">Стандартная</button>
                <button type="button" class="btn btn-outline-success"
                  :class="{active: selectedType==1}" @click="selectedType=1">Генеральная</button>
              </div>
              <div v-show="selectedType==0">
                  <div class="row mb-4">
                    <div class="col-12 small" v-show="!showServicesList">
                       <span>Наведем общий порядок, пропылесосим в комнатах, протрем зеркала, мебель, плинтусы, застелим постель, вымоем пол.</span> <a href="" class="text-success" @click.prevent="showServicesList=true">Весь список услуг</a>
                    </div>
                    <div class="col-12 small" v-show="showServicesList">
                       <ul class="fa-ul">
                          <li><span class="fa-li"><i class="fas fa-check-square text-success"></i></span>Соберём и вынесем мусор</li>
                          <li><span class="fa-li"><i class="fas fa-check-square text-success"></i></span>Наведём порядок</li>
                          <li><span class="fa-li"><i class="fas fa-check-square text-success"></i></span>Вытрем пыль с доступных поверхностей, включая подоконники и радиаторы</li>
                          <li><span class="fa-li"><i class="fas fa-check-square text-success"></i></span>Протрём зеркала и стеклянные поверхности</li>
                          <li><span class="fa-li"><i class="fas fa-check-square text-success"></i></span>Пропылесосим ковры и пол</li>
                          <li><span class="fa-li"><i class="fas fa-check-square text-success"></i></span>Вымоем пол с плинтусами</li>
                          <li><span class="fa-li"><i class="fas fa-check-square text-success"></i></span>Застелим постель</li>
                          <li><span class="fa-li"><i class="fas fa-check-square text-success"></i></span>Вытрем пыль на фасадах кухни</li>
                          <li><span class="fa-li"><i class="fas fa-check-square text-success"></i></span>Почистим столешницу, плиту, смеситель, раковину и рабочий рукав</li>
                          <li><span class="fa-li"><i class="fas fa-check-square text-success"></i></span>Почистим ванную</li>
                          <li><span class="fa-li"><i class="fas fa-check-square text-success"></i></span>Почистим и продезинфицируем унитаз</li>
                          <li><span class="fa-li"><i class="fas fa-check-square text-success"></i></span>Вымоем лестницу</li>
                       </ul>
                       <a href="" class="text-success" @click.prevent="showServicesList=false">Свернуть</a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 col-md-6 mb-3 mb-md-0">Выберите количество комнат
                      <br>
                        <div class="btn-group my-3" role="group" aria-label="">
                          <button type="button" class="btn btn-outline-success"
                            v-for="n in 5"
                            :class="{active: roomsNumber==n}" @click="roomsNumber=n">{{n}}</button>
                        </div>
                    </div>
                    <!---->
                    <div class="col-12 col-md-6">и количество санузлов
                      <br>
                        <div class="btn-group my-3" role="group" aria-label="">
                          <button type="button" class="btn btn-outline-success"
                            v-for="n in 5"
                            :class="{active: bathroomsNumber==n}" @click="bathroomsNumber=n">{{n}}</button>
                        </div>
                    </div>
                  </div>
                  <p class="mt-3">Дополнительные услуги</p>
                  <div class="row">
                    <div class="col-12 col-md-6" v-for="n in 2">
                      <div class="my-2" v-for="(bonus,index) in bonuses.slice((n-1)*bonuses.length/2, (n-1)*bonuses.length/2 + bonuses.length/2)">
                        <button class="btn btn-outline-default w-100 mb-1 py-1 d-flex align-items-center"
                          @click="toggle(bonus)">
                          <img class="icon mr-1" :src="bonus.image">
                          {{bonus.name}}
                        </button>
                        <transition name="collapse">
                            <div class="card card-body" v-if="(bonus.type=='number'&&bonus.value>0)||
                            (bonus.type=='boolean'&&bonus.value==true)">
                              <div class="input-group mb-3" v-if="bonus.type=='number'">
                                <div class="input-group-prepend">
                                  <button class="btn btn-outline-success" type="button" id="button-addon1" 
                                  @click="bonus.value=bonus.value>2?bonus.value-bonus.step:bonus.step">
                                    <i class="fas fa-minus"></i>
                                  </button>
                                </div>
                                <span class="input-group-text">{{bonus.value}} шт.</span>
                                <div class="input-group-append">
                                  <button class="btn btn-outline-success" type="button" id="button-addon1"
                                  @click="bonus.value+=bonus.step">
                                    <i class="fas fa-plus"></i>
                                  </button>
                                </div>
                              </div>
                              <div class="small">
                                {{bonus.description}}
                              </div>
                            </div>
                        </transition>
                      </div>
                    </div>
                  </div>
              </div>
              <div v-show="selectedType==1">
                
              </div>
          </div>
          <form class="col-12 col-md-12 col-lg-4 text-dark">
              <div class="card py-3 px-3">
                  <form action="" method="post">
                      <h4>Итого</h4>
                      <div class="row py-2">
                          <div class="col-12"><span class="text-muted">Основное</span></div>
                          <div class="col-8"><span>комнат: {{roomsNumber}} <br>
                              санузлов: {{bathroomsNumber}}
                          </span></div>
                          <div class="col-4 text-right">{{initialPrices[selectedPage] + (roomsNumber-1)*pricePerRoom + (bathroomsNumber-1)*pricePerBathroom}} тг</div>
                      </div>
                      <div class="row py-2" v-if="anyBonusSelected()">
                        <div class="col-12"><span class="text-muted">
                          Дополнительно</span>
                        </div>
                        <div class="col-12">
                            <div class="row flex-nowrap" v-for="bonus in bonuses" 
                            v-if="(bonus.type=='number'&&bonus.value>0)||
                            (bonus.type=='boolean'&&bonus.value==true)">
                               <div class="col-8">{{bonus.name}} <span v-if="bonus.type=='number'&&bonus.value>1">(x{{bonus.value}})</span></div>
                               <div class="col-4 text-right text-dark pr-4">
                                  {{bonus.value*bonus.price}} тг
                                    <i class="fas fa-times fa-fw remover"
                                      @click="bonus.value=0"></i>
                                </div>
                            </div>
                         </div>
                      </div>
                      <div class="row pt-2">
                          <hr class="mx-3 w-100">
                          <div class="col-8"><span class="text-muted">К оплате</span></div>
                          <div class="col-4 text-right"><strong class="pull-right">{{total()}} тг</strong></div>
                      </div>
                      <div class="row mt-3">
                          <div class="col-12 mb-3">
                              <label for="phone">Телефон</label>
                              <input placeholder="+7 (___) ___-__-__" type="tel" id="phone" required="required" class="form-control" data-mask="+# (###) ###-##-##" data-previous-value="+2 (342) 345-32-45">
                              
                          </div>
                          <div class="col-12 mb-3">
                              <label for="card">Оплата</label>
                              <div class="btn-group w-100" role="group" aria-label="">
                                <button type="button" class="btn btn-outline-success"
                                  :class="{active: cash==false}" @click="cash=false">Картой</button>
                                <button type="button" class="btn btn-outline-success"
                                  :class="{active: cash==true}" @click="cash=true">Наличными</button>
                              </div>
                          </div>
                          <div class="col-12">
                              <button type="submit" class="btn btn-primary w-100">Оформить заказ</button><small class="d-inline-block mt-2">Перезвоним уточнить детали</small></div>
                      </div>
                  </form>
              </div>
          </form>        
        </div>
      </div>
    </section>
    <section id="faq" class="py-3">
      <div class="container">
        <h2 class="text-center my-3">Часто задаваемые вопросы</h2>
        <div class="row">
          <div class="col">
            <h3>Нужно ли мне присутствовать во время уборки?</h3>
            <p>
              Нет, ваше присутствие не требуется. Весь процесс уборки контролирует наш менеджер. Мы просим хозяев остаться, только если наводим порядок в гардеробе и шкафах с личными вещами.
            </p>
            <h3>Какой инвентарь и бытовую химию мне нужно для вас оставить?</h3>
            <p>Ничего специально оставлять не нужно, у нас всё есть: стремянки, мопы, профессиональные пылесосы, парогенераторы, вот это всё.

            Для каждой поверхности или отделочного материала мы используем подходящее специализированное моющее средство. Все средства безвредны для людей и животных.

            Если вы хотите, чтобы мы воспользовались какой-то специальной химией, попросите об этом менеджера.
            </p>
            <h3>Чем отличается стандартная уборка от генеральной?</h3>
            <p>В стандартной уборке мы наводим порядок в более-менее незагрязнённом доме: вытираем пыль, моем молы. При генеральной уборке перед наведением порядка в доме отмывается каждый уголок. Даже если он не очень этого хочет.
            </p>
            <h3>Могу ли я заказать уборку части дома?</h3>
            <p>Конечно, мы наведём порядок там, где вы попросите. И если вы уже на месте решите донавести порядок везде — так мы тоже можем.
            </p>
            <h3>Как я могу оплатить ваши услуги?</h3>
            <p>Мы принимаем оплату картами и наличными. Вы платите в конце уборки, когда приняли её и вам всё понравилось. В случае оплаты на сайте, мы блокируем на вашей карте необходимую сумму и спишем её в течение часа после уборки.
            </p>

          </div>
        </div>
      </div>
    </section>
    <footer>
        <div class="container my-5">
            <div class="row text-center text-md-left">
                <div class="col-12">
                    <hr>
                </div>
                <div class="col-12 col-md-4 mb-3">
                    © ТОО «AVGM LTD», 2020 </div>
                <div class="col-12 col-md-4 mb-3">
                    <p class="mb-2">
                        г. Атырау Южная Пром Зона 4, РК
                    </p>
                    <ul class="list-unstyled">
                        <li class="list-item mb-2"><a class="text-success" :href="'mailto:'+emails[0]">{{emails[0]}}</a></li>
                        <li class="list-item mb-2"><a class="text-success" :href="'tel:'+phones[0]">{{formatPhoneNumber(phones[0])}}</a></li>
                    </ul>
                </div>
                <div class="col-12 col-md-4 mb-3">

                    <ul class="list-unstyled">
                        <!--<li class="list-item mb-2">
                            <a class="text-success" href="/himchistka-mebeli-kovrov">Химчистка мягкой мебели и ковров в Алматы</a> </li>-->
                        <li class="list-item mb-2">
                            <a class="text-success" href="/oplata">Оплата</a> </li>
                        <li class="list-item mb-2">
                            <a class="text-success" href="/skidki-i-aktsii">Скидки и акции</a> </li>
                        <li class="list-item mb-2">
                            <a class="text-success" href="/stoimost-uslug-uborki-i-himchistki-myagkoj-mebeli-v-almaty">Прайс-лист услуг</a> </li>
                        <li class="list-item mb-2">
                            <a class="text-success" href="/otzyvy-i-rekomendatsii">Отзывы и рекомендации</a> </li>
                    </ul>

                    Принимаем карты
                    <br>
                    <img src="img/calculator/visa-mc.webp" class="footer-visa-mc mt-1" alt="">
                </div>
            </div>
        </div>
    </footer>
    <div class="modal fade" id="sidebarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm mr-0 mt-0" role="document">
        <div class="modal-content navbar navbar-light bg-light h-100">
          <div class="modal-header w-100">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body p-0 navbar-collapse">
            <ul class="navbar-nav">
              <li class="nav-item" 
                v-for="page in pages">
                <a class="nav-link" 
                  :class="{'active':selectedPage==page}"
                  :href="'/cleaning.html?in='+page">{{printOffer(page)}}</a>
              </li>
              <!--<li class="nav-item">
                <a class="nav-link" href="">Химчистка мягкой мебели и ковров в Атырау</a>
              </li>-->
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="scroll-to-top d-lg-none position-fixed ">
      <a class=" d-block text-center text-white rounded" href="#page-top">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>
  </div>
  <script type="text/javascript">
    var app = new Vue({
      el: '#app',
      data: {
        selectedPage:'house',
        pages:['house','apartment','office','renovation'],
        offers:{
          house:{
            value: 'Уборка домов в Атырау от ',
            withPrice:true
          },
          apartment:{
            value: 'Уборка квартир в Атырау от ',
            withPrice:true
          },
          office:{
            value: 'Уборка офисов в Атырау',
            withPrice:false
          },
          renovation:{
            value: 'Уборка после ремонта в квартирах, домах и офисах Атырау',
            withPrice:false
          },
        },
        phones: ['+77122457525',],
        emails: ['ut.or.2017@gmail.com'],
        todos:{
          //0 - house, apartment
          house:[
            //00 - room
            {
              image: 'howroom.webp',
              title: 'в комнате',
              text:[
                'Протрём стеклянные поверхности и зеркала',
                'Вытрем пыль с доступных поверхностей, включая подоконники и радиаторы',
                'Застелим постель',
                'Пропылесосим ковры и пол',
                'Соберём и вынесем мусор',
              ],
            },
            // 01 kitchen
            {
              image: 'howkitchen.webp',
              title: 'на кухне',
              text:[
                'Протираем фасады шкафов, наводим порядок внутри',
                'Моем грязную посуду, чистим раковину',
                'Отмываем плиту',
                'Протираем столешницы и наводим порядок',
                'Моем пол и плинтусы, собираем и выкидываем мусор',
                'Чистим духовку, микроволновку и холодильник снаружи и внутри',
              ],
            },
            // 02 bathroom
            {
              image: 'howbathroom.webp',
              title: 'в ванной',
              text:[
                'Протрём зеркала и стеклянные поверхности',
                'Почистим раковину и смеситель',
                'Почистим и продезинфицируем унитаз',
                'Вымоем пол с плинтусами',
                'Почистим ванную',
              ],
            },
          ],
          // 1 - office
          office:[
            {
              image: 'howoffice.webp',
              title: 'в офисе',
              text:[
                'Вымоем окна снаружи и внутри',
                'Протрём от пыли все доступные поверхности',
                'Вымоем пол с плинтусами',
                'Соберём и вынесем мусор',
                'Помоем и продезинфицируем санузлы',
              ],
            },
          ],
          // 2 - renovation
          renovation:[
            {
              image: 'howrenovation.webp',
              title: 'после ремонта',
              text:[
                'Вымоем окна снаружи и внутри',
                'Очистим поверхности от загрязнений, следов клея, побелки, лаков и красок',
                'Отмоем радиаторы, трубы и двери',
                'Вымоем стены и полы',
                'Очистим помещение от пыли с помощью промышленного пылесоса',
                'Соберем и вынесем строительный мусор',
              ],
            }
          ],
        },
        selectedHow:0,
        selectedType:0,
        types:{
          house:{
            standard:{
              description:'Наведем общий порядок, пропылесосим в комнатах, протрем зеркала, мебель, плинтусы, застелим постель, вымоем пол.',
              todos:[
'Соберём и вынесем мусор',
'Наведём порядок',
'Вытрем пыль с доступных поверхностей, включая подоконники и радиаторы',
'Протрём зеркала и стеклянные поверхности',
'Пропылесосим ковры и пол',
'Вымоем пол с плинтусами',
'Застелим постель',
'Вытрем пыль на фасадах кухни',
'Почистим столешницу, плиту, смеситель, раковину и рабочий рукав',
'Почистим ванную',
'Почистим и продезинфицируем унитаз',
              ],
            },
            general:{
              description:'Полная влажная уборка всей квартиры, включая окна, кухню и балкон.',
              todos:[
'Соберём мусор',
'Наведём порядок',
'Протрём все доступные поверхности, включая подоконники и радиаторы',
'Протрём зеркала и стеклянные поверхности',
'Пропылесосим пол и ковры',
'Протрём выключатели и розетки',
'Вымоем пол с плинтусами',
'Застелим кровать',
'Протрём верхние и нижние фасады кухни',
'Почистим плиту, столешницу, смеситель, раковину и рабочий рукав',
'Аккуратно расставим обувь',
'Помоем и почистим ванную, душевую кабину и кафель',
'Помоем и продезинфицируем унитаз и биде',
'Наведём порядок на балконе, вымоем полы и стены',
'Протрём двери, входные группы и ручки',
'Обеспылим потолок, стены и люстры',
'Вымоем окна снаружи и внутри, включая рамы, торцы и подоконник. В холодное время года моем окна только внутри',
'Вымоем снаружи и внутри холодильник, духовку и микроволновку',
              ],
            },
          },
          
        },
        showServicesList:false,
        roomsNumber:1,
        bathroomsNumber:1,
        initialPrices:{
          house:9000,
          apartment:6500,
          office:0,
          renovation:0,
        },
        pricePerSquareMeter:450,
        pricePerRoom:2000,
        pricePerBathroom:1000,
        cash:true,
        bonuses:[
          {
            name: 'Холодильник',
            image: 'img/calculator/fridge.svg',
            type:'number',
            value:0,
            step:1,
            description:'Вымоем снаружи и внутри, выкинем пропавшее. Морозильную камеру размораживает клиент.',
            price:1500,
          },
          {
            name: 'Духовка',
            image: 'img/calculator/oven.svg',
            type:'boolean',
            value:false,
            description:'Вымоем снаружи и внутри.',
            price:1500,
          },
          {
            name: 'Посуда',
            image: 'img/calculator/plate.svg',
            type:'boolean',
            value:false,
            price:1000,
            description:'Помоем всю грязную посуду, высушим и аккуратно расставим.',
          },
          {
            name: 'Глажка',
            image: 'img/calculator/laundry.svg',
            type:'number',
            value:0,
            step:10,
            price:1400,
            description:'Погладим всё, что оставите, кроме нижнего белья и верхней одежды.',
          },
          {
            name: 'Питомец',
            image: 'img/calculator/cat.svg',
            type:'number',
            value:0,
            step:1,
            price:1000,
            description:'Почистим и продезинфицируем лоток, сменим наполнитель, помоем мисочки.',
          },
          //
          {
            name: 'Кухонные шкафы',
            image: 'img/calculator/kitchen.svg',
            type:'number',
            value:0,
            step:1,
            price:1200,
            description:'Вымоем снаружи и внутри, наведём порядок.',
          },
          {
            name: 'Окна',
            image: 'img/calculator/window.svg',
            type:'number',
            value:0,
            step:1,
            price:1000,
            description:'Вымоем снаружи и внутри, включая рамы, торцы и подоконник. Одно окно — 2-3 секции общей площадью ~3 кв. м.',
          },
          {
            name: 'Шкафы',
            image: 'img/calculator/cupboard.svg',
            type:'number',
            value:0,
            step:1,
            price:1600,
            description:'Вымоем снаружи и внутри, наведём порядок, аккуратно сложим вещи. Делаем только в присутствии клиента.',
          },
          {
            name: 'Балкон',
            image: 'img/calculator/balcony.svg',
            type:'number',
            value:0,
            step:1,
            price:1900,
            description:'Наведём порядок, вымоем полы и стены. Окна считаем отдельно.',
          },
          {
            name: 'Микроволновка',
            image: 'img/calculator/microwave.svg',
            type:'number',
            value:0,
            step:1,
            price:700,
            description:'Вымоем снаружи и внутри',
          },
        ],
      },
      methods:{
        getPageType(){
          var c = 'house';
          console.log(window.location.href)
          var url = new URL(window.location.href);
          if(this.pages.includes(url.searchParams.get("in")))
            c = url.searchParams.get("in");
          return c;
        },
        anyBonusSelected: function(){
          var result = false
          var bonus
          for(var i=0;i<this.bonuses.length;i++){
            bonus = this.bonuses[i]
            if((bonus.type=='number' && bonus.value>0) ||
              (bonus.type=='boolean' && bonus.value==true)
              ){
              result = true
              break
            }
          }
          return result
        },
        toggle: function(bonus){
          if(bonus.type=='number'){
            bonus.value=(bonus.value>0?0:bonus.step);
          }else{
            bonus.value = !bonus.value
          }
        },
        totalFromBonuses: function(){
          var result = 0
          this.bonuses.forEach((bonus)=>{
            result += bonus.value*bonus.price
          })
          return result
        },
        total(){
          return this.initialPrices[this.selectedPage] + (this.roomsNumber-1)*this.pricePerRoom + (this.bathroomsNumber-1)*this.pricePerBathroom +this.totalFromBonuses()
        },
        formatPhoneNumber(phoneNumberString) {
          var cleaned = ('' + phoneNumberString).replace(/\D/g, '')
          var match = cleaned.match(/^(7|)?(\d{3})(\d{3})(\d{4})$/)
          if (match) {
            var intlCode = (match[1] ? '+7 ' : '')
            return [intlCode, '(', match[2], ') ', match[3], '-', match[4]].join('')
          }
          return null
        },
        printOffer(selectedPage){
          if(this.offers[selectedPage].withPrice)
            return this.offers[selectedPage].value+' '+this.initialPrices[selectedPage]+' тг'
          else
            return this.offers[selectedPage].value 
        },
        getTodos(){
          if(this.selectedPage=='house'
            ||this.selectedPage=='apartment')
            return this.todos['house']
          else
            return this.todos[this.selectedPage]
        },
      },
      created(){
        this.selectedPage = this.getPageType()
        document.title = 'AVGM - '+this.printOffer(this.selectedPage)
      },
    })
  </script>
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
</body>
</html>
