<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content='ТОО «Atyrau Vital Global Mote LTD» занимается экологическим аутсорсингом. Мы предлагаем Вам свои услуги: аэродинамические испытания, вентиляция, строительство, сервис и услуги монтажа, утилизация распределение отходов, обслуживание электрика, системы кондиционирования, комплексное обслуживание объектов клининг. Атырау'>
  <meta name="keywords" content="Атырау,клининг,Atyrau,Vital,Global,Mote,LTD,ТОО,экологический,аутсорсинг,аэродинамические,испытания,вентиляция,строительство,сервис,услуги,монтаж,отход,электрик,кондиционирован">
  <meta name="author" content="">
  <meta name="google-site-verification" content="N973lsxBSqpq2NMYliXCc1w5FJR4Uo2ckU5B0QgZ84w" />

  <title>Многопрофильная компания Atyrau Vital Global Mote LTD</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="css/fa/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Roboto|Rubik&display=swap&subset=cyrillic" rel="stylesheet">
  <!-- Plugin CSS -->
  <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="css/freelancer-20191231.css" rel="stylesheet">

</head>

<body id="page-top">
  <div id="app">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg fixed-top text-uppercase" id="mainNav">
      <div class="container">
        <a class="navbar-brand  font-italic font-weight-bold text-capitalize" href="#page-top">AVGM LTD</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded " href="#about">О Нас</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded " href="#services">Услуги</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded " href="#certificates">Сертификаты</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded " href="#recommendations">Рекомендации</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded " href="#partners">Партнеры</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded " href="#contact">Контакты</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead text-right hero py-0" data-parallax="scroll" data-image-src="../img/misc/forest&sea.jpg">
      <div class="hero-wrapper w-100 h-100">
        <div class="container">
          <div class="bottom-right">
            <h6 class="font-weight-bold mb-0 text-capitalize brand-text">Товарищество Ограниченной Ответственности</h6>
            <h2 class="font-weight-bold mb-0 text-capitalize brand-text">Atyrau Vital Global Mote LTD</h2>
            <br>
            <h6 class="font-weight-light mb-0 font-italic brand-text">Чистое будущее — в чистом настоящем!</h6>
          </div>
        </div>
      </div>
    </header>

    <section id="about" class="text-primary">
      <div class="container">
        <h3 class="text-center text-uppercase">О Компаний</h3>
        <hr class="star-dark">
        <div class="row">
          <div class="col-12 offset-0">
            <div class="card">
              <div class="card-body">
                <div class="">
                  <div class="float-left mr-3 titled-image-container">
                    <p class="text-center">
                      <img src="img/logo.png" class="rounded float-left mr-3 mb-3 w-100">
                      <strong>≪AVGM LTD≫</strong>
                    </p>
                  </div>
                  <div class="w-100">
                    Многопрофильная компания ТОО "Atyrau Vital Global Mote LTD" образована в 2017 году. Наша компания является членом ОЮЛ "Ассоциация экологических организаций Казахстана". Руководитель компании входит в экспертный совет, созданный министерством экологии Республики Казахстан и является членом экологического сообщества "Отан".
                  </div>
                </div>
                
                
                
              </div>
              <div class="card-body">
                <h4 class="text-center text-primary">
                  В 2019 году нами подписан консорциум с иностранными партнерами. Вместе мы реализуем экологические проекты:
                </h4>
              </div>
              <div class="card-body">
                <img src="img/partners/savaterra.svg" class="rounded float-left mr-3 mb-3" width=150>
                Компания "Savaterra" занимается удалением и обезвреживанием шлама бытовых и сточных вод, являясь ведущей компанией в области экотехнологий: <i>"Мы используем методики будущего, чтобы окончательно и экономично устранить прошлые и потенциально будущие проблемы."</i>
              </div>
              <div class="card-body">
                <img src="img/partners/onninen.jpeg" class="rounded float-left mr-3 mb-3" width=150>
                Компания "Onninen" предлагает услуги по очистке сточных вод, озер, лагун, улучшению почвы из осадка сточных вод.
              </div>
              <div class="card-body">
                <img src="img/partners/fenno.png" class="rounded float-left mr-3 mb-3" width=150>
                Компания "Fenno Water" специализируется на проектировании и изготовлении систем очистки для промышленных и муниципальных предприятий.
              </div>
              <div class="card-body">
                <img src="img/partners/koja.png" class="rounded float-left mr-3 mb-3" width=150>
                Компания "Koja OOO" предлагает экономически и энергетически эффективные решения в области вентиляции и кондиционирования воздуха, промышленное тягодутьевое оборудование, а также осуществляют проекты по очистке выбросов в атмосферу и рекуперации воздуха.
              </div>
            </div>  
          </div>
        </div>
      </div>
    </section>  
    <!-- About Section -->
    <section class="text-primary" id="services">
      <div class="container">
        <h3 class="text-center text-uppercase">Услуги компании</h3>
        <hr class="star-dark">
        <!--<h4 class="text-center font-italic">Болит голова за отчеты? Доверься НАМ! Доверься ПРОФЕССИОНАЛАМ!</h4>-->
        <div class="card">
          <div class="card-body">
            <div class="">
              <div class="float-left mr-3 titled-image-container">
                <p class="text-center">
                  <img src="img/logo.png" class="rounded float-left mr-3 mb-3 w-100">
                  <strong>≪AVGM LTD≫</strong>
                </p>
              </div>
              <div class="w-100" style="text-indent: 50px;">

                1) Нашим приоритетным направлением является <u>УПРАВЛЕНИЕ ОТХОДАМИ</u><br>
                <p><strong>Система управления отходами</strong> - это комплекс мероприятий по сбору, транспортировке, переработке, вторичному использованию или утилизации производственных отходов, а также контроль за данными процессами. Наша система управления отходами нацелена на снижение вредоносного влияния отходов на здоровье человека, на окружающую среду, сокращение добычи природных ресурсов в связи с возможностью вторичного использования большей части отходов.</p>


              </div>
            </div>
          </div>

          <h4 class="text-center text-primary">
            <strong>Так работают некоторые недобросовестные компании 
            занимающиеся управлением отходов</strong>
          </h4>

          <div class="row px-3 mb-3">
            <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
              <div class="card">
                <div class="other-image with-bg-image card-img-top bg-cover" 
                style="background-image:url('img/others/Picture1.jpg');"></div>
                <div class="card-body">
                  <h5 class="card-title">Пластик</h5>
                  <p class="card-text">Разлагается 180-200 лет</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
              <div class="card">
                <div class="other-image with-bg-image card-img-top bg-cover" 
                style="background-image:url('img/others/Picture2.jpg');"></div>
                <div class="card-body">
                  <h5 class="card-title">Нефтепродукты</h5>
                  <p class="card-text">Разлив приводит к уничтожению всего
                  живого на поверхности земли и в водоемах</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
              <div class="card">
                <div class="other-image with-bg-image card-img-top bg-cover" 
                style="background-image:url('img/others/Picture3.jpg');"></div>
                <div class="card-body">
                  <h5 class="card-title">Резиновые покрышки</h5>
                  <p class="card-text">Разлагаются 120-140 лет</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
              <div class="card">
                <div class="other-image with-bg-image card-img-top bg-cover" 
                style="background-image:url('img/others/Picture4.jpg');"></div>
                <div class="card-body">
                  <h5 class="card-title">Ртутьсодержащие лампы</h5>
                  <p class="card-text">Ртутное отравление окружающей среды и тяжелейшие заболевания</p>
                </div>
              </div>
            </div>
          </div>
          <h4 class="text-center text-uppercase text-primary">
            <strong>Так работаем мы</strong>
          </h4>
          <div class="table-responsive px-3">
            <table class="text-center text-primary">
              <tr class="align-bottom">
                <td class="">
                  <span class="card card-body">
                    <img src="img/solutions/1.webp" class="rounded mx-auto d-block" width=200>
                    Рециклинг отработанного масла
                  </span>
                </td>
                <td></td>
                <td>
                  <span class="card card-body">
                    <img src="img/solutions/2.jpg" class="rounded mx-auto d-block" 
                    width=200>
                    Рециклинг аккумуляторов
                  </span>
                </td>
                <td></td>
                <td class="">
                  <span class="card card-body">
                    <img src="img/solutions/3.jpg" class="rounded mx-auto d-block" 
                    width=200>
                    Рециклинг пластика и бумаги
                  </span>
                </td>
              </tr>
              <tr>
                <td></td>
                <td>
                  <svg width="100" height="100">
                    <defs>
                      <marker id="arrow" markerWidth="13" markerHeight="13" refx="2" refy="6" orient="auto">
                        <path d="M2,1 L2,10 L10,6 L2,2" style="fill:#4caf50;" />
                      </marker>
                    </defs>
                    <path d="M95,95 L30,30"
                    style="stroke:#4caf50; stroke-width: 5px; fill: none;
                    marker-end: url(#arrow);"
                    />
                  </svg>
                </td>
                <td>
                  <svg width="100" height="100">
                    <defs>
                      <marker id="arrow" markerWidth="13" markerHeight="13" refx="2" refy="6" orient="auto">
                        <path d="M2,1 L2,10 L10,6 L2,2" style="fill:#4caf50;" />
                      </marker>
                    </defs>
                    <path d="M50,100 L50,40"
                    style="stroke:#4caf50; stroke-width: 5px; fill: none;
                    marker-end: url(#arrow);"
                    />
                  </svg>
                </td>
                <td>
                  <svg width="100" height="100">
                    <defs>
                      <marker id="arrow" markerWidth="13" markerHeight="13" refx="2" refy="6" orient="auto">
                        <path d="M2,1 L2,10 L10,6 L2,2" style="fill:#4caf50;" />
                      </marker>
                    </defs>
                    <path d="M5,95 L70,30"
                    style="stroke:#4caf50; stroke-width: 5px; fill: none;
                    marker-end: url(#arrow);"
                    />
                  </svg>
                </td>
                <td></td>
              </tr>
              <tr class="align-middle">
                <td>
                  <span class="card card-body">
                    <img src="img/solutions/4.png" class="rounded mx-auto d-block" width=200>
                    Рециклинг гликолесодержащих отходов
                  </span>
                </td>
                <td>
                  <svg width="100" height="100">
                    <defs>
                      <marker id="arrow" markerWidth="13" markerHeight="13" refx="2" refy="6" orient="auto">
                        <path d="M2,1 L2,10 L10,6 L2,2" style="fill:#4caf50;" />
                      </marker>
                    </defs>
                    <path d="M100,50 L40,50"
                    style="stroke:#4caf50; stroke-width: 5px; fill: none;
                    marker-end: url(#arrow);"
                    />
                  </svg>
                </td>
                <td class="font-weight-bold">
                  <img src="img/logo.png" class="rounded mx-auto d-block" width="200">
                  ≪AVGM LTD≫
                </td>
                <td>
                  <svg width="100" height="100">
                    <defs>
                      <marker id="arrow" markerWidth="13" markerHeight="13" refx="2" refy="6" orient="auto">
                        <path d="M2,1 L2,10 L10,6 L2,2" style="fill:#4caf50;" />
                      </marker>
                    </defs>
                    <path d="M0,50 L60,50"
                    style="stroke:#4caf50; stroke-width: 5px; fill: none;
                    marker-end: url(#arrow);"
                    />
                  </svg>
                </td>
              <td>
                <span class="card card-body">
                  <img src="img/solutions/5.jpg" class="rounded mx-auto d-block" width=200>
                  Рециклинг автошин
                </span>
              </td>
            </tr>
            <tr>
              <td></td>
              <td>
                <svg width="100" height="100">
                  <defs>
                    <marker id="arrow" markerWidth="13" markerHeight="13" refx="2" refy="6" orient="auto">
                      <path d="M2,1 L2,10 L10,6 L2,2" style="fill:#4caf50;" />
                    </marker>
                  </defs>
                  <path d="M95,5 L30,70"
                  style="stroke:#4caf50; stroke-width: 5px; fill: none;
                  marker-end: url(#arrow);"
                  />
                </svg>
              </td>
              <td>
                <svg width="100" height="100">
                  <defs>
                    <marker id="arrow" markerWidth="13" markerHeight="13" refx="2" refy="6" orient="auto">
                      <path d="M2,1 L2,10 L10,6 L2,2" style="fill:#4caf50;" />
                    </marker>
                  </defs>
                  <path d="M50,0 L50,60"
                  style="stroke:#4caf50; stroke-width: 5px; fill: none;
                  marker-end: url(#arrow);"
                  />
                </svg>
              </td>
              <td>
                <svg width="100" height="100">
                  <defs>
                    <marker id="arrow" markerWidth="13" markerHeight="13" refx="2" refy="6" orient="auto">
                      <path d="M2,1 L2,10 L10,6 L2,2" style="fill:#4caf50;" />
                    </marker>
                  </defs>
                  <path d="M5,5 L70,70"
                  style="stroke:#4caf50; stroke-width: 5px; fill: none;
                  marker-end: url(#arrow);"
                  />
                </svg>
              </td>
              <td></td>
            </tr>
            <tr class="align-top">
              <td>
                <span class="card card-body">
                  <img src="img/solutions/6.jpg" class="rounded mx-auto d-block">
                  Утилизация медицинских отходов и ртутьсодержащих изделий
                </span>
              </td>
              <td></td>

              <td>
                <span class="card card-body">
                  <img src="img/solutions/7.jpg" class="rounded mx-auto d-block">
                  Полигоны опасных отходов п.Аккистау, в п.Доссор. Полигон ТБО в  п.Кульсары, в п.
                  Макат
                </span>
              </td>
              <td></td>
              <td>
                <span class="card card-body">
                  <img src="img/solutions/8.jpg" class="rounded mx-auto d-block">
                  Рециклинг РТИ и автошин
                </span>
              </td>
            </tr>
          </table>
        </div>
        <div class="card-body">
          <div style="text-indent: 50px;">
            <p>TОО "AVGM LTD" сотрудничает непосредственно с официальными     заводами
              переработчиками зарегистрированными в РОП: единственный официальный завод в
              Республике Казахстан по переработке гликоль содержащих TOO «Алем Тынысы», завод
              по переработке шин TOO "TALLAN", единственный официальный завод в Республике
              Казахстан по переработке отработанных масел TOO "High Industrial Lubricants&Liquids
              Corporation (HILL)", переработчик ртутьсодержащих и мед. отходов TOO «Атаким», а так
              же у нас имеется договоренность о сотрудничестве с полигонами ТБО п. Кульсары и п‚
              Макат, с полигонами опасных отходов в п. Доссор и п. Аккистау.
              Занимаясь управлением, сбором и хранением отходов с 1—5 класс опасности, мы знаем
              потребности наших клиентов и прекрасно понимаем Вас. Нам понятно Ваше желание
              оптимизировать комплекс работ по утилизации отходов своего производства, и мы готовы помочь в этом.
            </p>

            <p>Преимущества сотрудничества с "Atyrau Vital Global Mote LTD" говорят сами за
            себя:</p>

            <p>✓ Mы работаем на всей территории Западно-Казахстанской области. Это значит, что
              Вашим региональным офисам не придется заключать отдельные договора на
              утилизацию промышленных отходов с местными компаниями. Всегда удобнее
              работать с одним крупным партнером, чем c несколькими разрозненными
            компаниями.</p>

            <p>✓ Для работы с нами Вам будет выделен персональный менеджер, который
              проконсультирует Вас по любым вопросам, касающимся утилизации. Один человек,
              лично отвечающий за ведение всех взаимоотношений, всегда надежнее множества
            людей, не имеющих персональной ответственности.</p>

            <p>✓ После подписания договора, по которому Вы передаете нам отходы Вашего
              производства, мы берем всю ответственность за грамотное управление ими на
              себя, Вам больше не нужно будет волноваться о соблюдении правил и сроков
              утилизации. Вам достаточно поверить это, что все отходы возможно утилизировать
            в одном месте.</p>
          </div>
        </div>
        <ol start=2>
          <li><u>Услуги в сфере природоохранного проектирования</u>
            <ul>
              <li>Экологический аутсорсинг</li>
              <li>Разработка экологической документации</li>
            </ul>
          </li>
          <li><u>Комплексное обслуживание объектов(по аутсорсингу)</u>
            <ul>
              <li>Клининг</li>
              <li>Озеленение и т.д.</li>
            </ul>
          </li>
          <li><u>Строительство (Лицензия СМР 3 катигории)</u>
            <ul type="A">
              <li>Вентиляционные системы: Обслуживание автоматики, монтаж, ремонт, проводим аэродинамические испытания</li>
              <li>Системы кондиционирования:<br>
                монтаж<br>
                обслуживание
              </li>
              <li>Электрика. Все виды работ</li>
            </ul>
          </li>
        </ol>
      </div>
    </div>
  </section>
        <!--<div class="container">
          <h4 class="text-center mb-3">Комплексное обслуживание объектов</h4>
          <div class="container text-center">
          <div class="row text-center">
              <div class="col-md-4">
                <span class="fa-stack fa-4x">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fas fa-quidditch fa-stack-1x text-thirdary"></i>
                </span>
                <h4 class="service-heading caption-top">Клининг</h4>
              </div>
              <div class="col-md-4">
                <span class="fa-stack fa-4x">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fas fa-truck-loading fa-stack-1x text-thirdary"></i>
                </span>
                <h4 class="service-heading caption-top">Грузчики</h4>
              </div>
              <div class="col-md-4">
                <span class="fa-stack fa-4x">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fas fa-couch fa-stack-1x text-thirdary"></i>
                </span>
                <h4 class="service-heading caption-top">Сборщики мебели</h4>
              </div>
              <div class="col-md-6">
                <span class="fa-stack fa-4x text-lime">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fas fa-seedling fa-stack-1x text-thirdary"></i>
                </span>
                <h4 class="service-heading caption-top">Озеленение</h4>
              </div>
              <div class="col-md-6">
                <span class="fa-stack fa-4x text-bluegrey">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fas fa-paint-roller fa-stack-1x text-thirdary"></i>
                </span>
                <h4 class="service-heading caption-top">Текущий мелкий ремонт</h4>
              </div>
            </div>
          </div>
        </div>
        <br><br><br>
        <div class="container">
          <h4 class="text-center mb-3 mt-3">Строительство (лицензия СМР 3 категории)</h4>
          <div class="row text-center">
            <div class="col-md-4">
              <span class="fa-stack fa-4x">
                <i class="fas fa-square fa-stack-2x"></i>
                <i class="fas fa-fan fa-stack-1x text-thirdary"></i>
              </span>
              <h4 class="service-heading caption-top">Вентиляционные системы</h4>
              <p>
                Обслуживание автоматики, монтаж, ремонт <br> 
                Проводим аэродинамические испытания
              </p>
            </div>
            <div class="col-md-4">
              <span class="fa-stack fa-4x">
                  <i class="fas fa-square fa-stack-2x"></i>
                  <i class="fas fa-snowflake fa-stack-1x text-thirdary"></i>
                </span>
                <h4 class="service-heading caption-top">Системы кондиционирования</h4>
                <p>
                  Монтаж и обслуживание
                </p>
            </div>
            <div class="col-md-4">
              <span class="fa-stack fa-4x">
                  <i class="fas fa-square fa-stack-2x"></i>
                  <i class="fas fa-bolt fa-stack-1x text-thirdary"></i>
                </span>
                <h4 class="service-heading caption-top">Электрика</h4>
                <p>
                  Все виды работ
                </p>
            </div>
          </div>
        </div>
      </div>-->

      <!-- Certificates Grid Section -->
      <section class="portfolio" id="certificates">
        <div class="container">
          <h3 class="text-center text-uppercase text-primary mb-0">Сертификаты</h3>
          <hr class="star-dark"/>
          <h6 class="font-weight-light mb-0 text-primary">Компания ТОО "Atyrau Vital Global Mote LTD" успешно прошла сертификацию по международной системе менеджмента качества и получила сертификаты соответствия ISO 9001: 2015, ISO 14001: 2015 и OHSAS 18001:2007, чтобы еще лучше соответствовать высоким стандартам качества наших клиентов</h6>
          <div class="row">
            <div class="col-md-3 col-lg-3" v-for="n in 4">
              <a class="portfolio-item d-block mx-auto card" :href="'#portfolio-modal-'+n">
              <!--<div class="portfolio-item-caption caption-secondary d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                  <i class="fas fa-search-plus fa-3x"></i>
                </div>
              </div>-->
              <img class="img-fluid" :src="'img/certificates/cert'+n+'.jpg'" alt=""/>
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- Recommendations Grid Section -->
    <section class="portfolio text-white py-0" id="recommendations" data-parallax="scroll" data-image-src="../img/misc/3d.jpg">
      <div class="wrapper blur">
        <div class="container">
          <h3 class="text-center text-uppercase text-white mb-0">Благодарственные письма</h3>
          <hr class="star-light">
          <p class="text-center">Бизнес с открытым сердцем! Поделись теплом, ведь так просто <i>быть нужным</i> !</p>
          <div class="row">
            <div class="col-md-6">
              <img src="img/recommends/rec1.jpg" class="w-100">
            </div>
            <div class="col-md-6">
              <img src="img/recommends/rec2.png" class="w-100">
              <p>
                Наши подопечные: Центр адаптации несовершеннолетних Атырауской области 2019г
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="partners">
      <div class="container">
        <h3 class="text-center text-uppercase text-primary mb-0">Наши партнеры</h3>
        <hr class="star-dark">
        <div class="row">
          <div class="col-md-2 mb-3" v-for="n in 14">
            <img class="img-fluid card" :src="'img/partners/Picture'+(n-1)+'.jpg'" alt=""/>
          </div>
        </div>
      </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="text-white py-0" data-parallax="scroll" data-image-src="../img/misc/map.jpg">
      <div class="w-100 h-100" id="contact-wrapper">
        <div class="container ">
          <h3 class="text-center text-uppercase  mb-0">Контакты</h3>
          <hr class="star-light"/>
          <div class="text-center mt-4">
            Email: <a class="text-white" href="mailto:ut.or.2017@gmail.com?Subject=С%20сайта%2Dвизитки" target="_top">ut.or.2017@gmail.com</a>,
            <a class="text-white" href="mailto:LevanidzeAVGM24@yandex.ru?Subject=С%20сайта%2Dвизитки" target="_top">LevanidzeAVGM24@yandex.ru</a><br>
            Телефон: <a class="text-white" href="tel:87122457525">87122457525</a>,
            <a class="text-white" href="tel:87015096655">87015096655</a><br>
            Адрес: <a class="text-white" href="https://goo.gl/maps/KrpDsAf8V9DZHK4c9" target="_blank">г. Атырау Южная Пром Зона 4</a>
            <br>БИН 080540018659 <br>  
            Разработано в: <a class="text-white" href="https://weberkz.com" target="_blank">Weber Company</a>
          </div>
        </div>
      </div>
    </section>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-to-top d-lg-none position-fixed ">
      <a class=" d-block text-center text-white rounded" href="#page-top">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>

    <!-- Certificate Modals -->

    <div class="portfolio-modal mfp-hide" :id="'portfolio-modal-'+n" v-for="n in 4">
      <div class="portfolio-modal-dialog bg-white">
        <a class="close-button color-secondary d-none d-md-block portfolio-modal-dismiss" href="#">
          <i class="fa fa-3x fa-times"></i>
        </a>
        <div class="container text-center">
          <img class="img-fluid" :src="'img/certificates/cert'+n+'.jpg'" alt="">
        </div>
      </div>
    </div>

    <!-- Recommendations Modal -->

  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script type="text/javascript">
    var app = new Vue({
      el: '#app',
      data: {

      }
    })
  </script>
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

  <!-- Contact Form JavaScript -->
  <script src="js/jqBootstrapValidation.js"></script>
  <script src="js/contact_me.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15/dist/smooth-scroll.polyfills.min.js"></script>
  <script src="js/parallax.min.js"></script>
  <!-- Custom scripts for this template -->
  <script src="js/freelancer.min.js"></script>
</body>
</html>
