<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content='ТОО «Atyrau Vital Global Mote LTD» занимается экологическим аутсорсингом. Мы предлагаем Вам свои услуги: аэродинамические испытания, вентиляция, строительство, сервис и услуги монтажа, утилизация распределение отходов, обслуживание электрика, системы кондиционирования, комплексное обслуживание объектов клининг. Атырау'>
    <meta name="keywords" content="Атырау,клининг,Atyrau,Vital,Global,Mote,LTD,ТОО,экологический,аутсорсинг,аэродинамические,испытания,вентиляция,строительство,сервис,услуги,монтаж,отход,электрик,кондиционирован">
    <meta name="author" content="">
    <meta name="google-site-verification" content="N973lsxBSqpq2NMYliXCc1w5FJR4Uo2ckU5B0QgZ84w" />

    <title>Многопрофильная компания Atyrau Vital Global Mote LTD</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto&amp;subset=cyrillic-ext" rel="stylesheet">
    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="css/freelancer-822e280b.min.css" rel="stylesheet">

  </head>

  <body id="page-top">
    <div id="app">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-navbar fixed-top text-uppercase" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger font-italic font-weight-bold text-capitalize" href="#page-top">Atyrau Vital Global Mote LTD</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase bg-secondary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <!--<li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">Portfolio</a>
            </li>-->
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">О Нас</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#certificates">Сертификаты</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#recommendations">Рекомендации</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Контакты</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead text-center">
      <div class="container">
        <img class="img-fluid mb-5 d-block mx-auto" src="img/logo.png" alt="" style="height:300px;">
        <h2 class="font-italic font-weight-bold mb-0 text-primary text-capitalize">Товарищество Ограниченной Ответственности</h2>
        <h1 class="font-italic font-weight-bold mb-0 text-primary text-capitalize">Atyrau Vital Global Mote LTD</h1>
        <hr class="star-dark">
        <h2 class="font-weight-light mb-0 text-primary">Люди берегите Нашу Планету!!!</h2>
        <!--<br>
        <a class="btn btn-secondary" href="" target="_blank">Презентация</a>-->
      </div>
    </header>

    <!-- About Section -->
    <section class="bg-secondary text-white mb-0" id="about">
      <div class="container">
        <h2 class="text-center text-uppercase text-white">Услуги компании</h2>
        <hr class="star-light mb-5">
        <ol>
          <li>Экологический аутсорсинг
            <ol type="A">
              <li>Разработка экологических проектов с согласованием в уполномоченных органах</li>
              <li>Организация грамотного документооборота в области экологии</li>
              <li>Вывоз и распределение отходов</li>
              <li>Сбор хранение и передача вторичного сырья заводам переработчикам</li>
            </ol>
          </li>
          <li>Комплексное обслуживание объектов, клининг</li>
          <li>Строительство (Лицензия 3 катигории)
            <ol type="A">
              <li>Вентиляционные системы: Обслуживание автоматики, монтаж, ремонт, проводим аэродинамические испытания</li>
              <li>Системы кондиционирования: монтаж и  обслуживание</li>
              <li>Электрика: все виды работ</li>
            </ol>
          </li>
          <li>Оптово розничная торговля</li>
        </ol>
      </div>
    </section>

    <!-- Certificates Grid Section -->
    <section class="portfolio" id="certificates">
      <div class="container">
        <h2 class="text-center text-uppercase text-primary mb-0">Сертификаты</h2>
        <hr class="star-dark color-secondary mb-5">
        <h6 class="font-weight-light mb-0 text-primary">Компания ТОО "Atyrau Vital Global Mote LTD" успешно прошла сертификацию по международной системе менеджмента качества и получила сертификаты соответствия ISO 9001: 2015, ISO 14001: 2015 и OHSAS 18001:2007, чтобы еще лучше соответствовать высоким стандартам качества наших клиентов</h6>
        <div class="row">
          <div class="col-md-3 col-lg-3" v-for="n in 4">
            <a class="portfolio-item d-block mx-auto" :href="'#portfolio-modal-'+n">
              <!--<div class="portfolio-item-caption caption-secondary d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                  <i class="fas fa-search-plus fa-3x"></i>
                </div>
              </div>-->
              <img class="img-fluid" :src="'img/certificates/cert'+n+'.jpg'" alt="">
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- Recommendations Grid Section -->
    <section class="portfolio bg-secondary" id="recommendations">
      <div class="container">
        <h3 class="text-center text-uppercase text-white mb-0">Благодарственные письма</h3>
        <hr class="star-light mb-5">
        <div class="row">
          <div class="col-md-3 col-lg-3" v-for="n in 8">
            <a class="portfolio-item d-block mx-auto" :href="'#rec-modal-'+n">
              <!--<div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                  <i class="fas fa-search-plus fa-3x"></i>
                </div>
              </div>-->
              <img class="img-fluid" :src="'img/recommends/rec'+n+'.png'" alt="">
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
      <div class="container">
        <h2 class="text-center text-uppercase text-primary mb-0">Контакты</h2>
        <hr class="star-dark mb-5">
          <div class="text-center mt-4">
            Email: <a class="text-primary" href="mailto:ut.or.2017@gmail.com?Subject=С%20сайта%2Dвизитки" target="_top">ut.or.2017@gmail.com</a><br>
            Телефон: <a class="text-primary" href="tel:87787928003">+7 (778) 792-80-03</a>, <a class="text-primary" href="tel:87013825670">+7 (701) 382-56-70</a><br>
            Адрес: <a class="text-primary" href="https://yandex.kz/maps/-/CBB1UKxttD" target="_blank">г. Атырау Южная Пром Зона 1</a>
              <br>БИН 080540018659
          </div>
      </div>
    </section>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-to-top d-lg-none position-fixed ">
      <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>

    <!-- Certificate Modals -->

    <div class="portfolio-modal mfp-hide" :id="'portfolio-modal-'+n" v-for="n in 4">
      <div class="portfolio-modal-dialog bg-white">
        <a class="close-button color-secondary d-none d-md-block portfolio-modal-dismiss" href="#">
          <i class="fa fa-3x fa-times"></i>
        </a>
        <div class="container text-center">
          <img class="img-fluid" :src="'img/certificates/cert'+n+'.jpg'" alt="">
        </div>
      </div>
    </div>

    <!-- Recommendations Modal -->

    <div class="portfolio-modal mfp-hide" :id="'rec-modal-'+n" v-for="n in 8">
      <div class="portfolio-modal-dialog bg-white">
        <a class="close-button color-secondary d-none d-md-block portfolio-modal-dismiss" href="#">
          <i class="fa fa-3x fa-times"></i>
        </a>
        <div class="container text-center">
          <img class="img-fluid" :src="'img/recommends/rec'+n+'.png'" alt="">
        </div>
      </div>
    </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script type="text/javascript">
      var app = new Vue({
        el: '#app',
        data: {
          
        }
      })
    </script>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15/dist/smooth-scroll.polyfills.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/freelancer.min.js"></script>

  </body>

</html>
